/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: monospace, sans-serif;
  }

  .header1 {
    background-image: url(about-us-1536x609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
  }

  .header1dc {
    background-image: url(Homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
  }

  
  
  .headergetquote {
    background-image: url(Homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
  }

  #getquotetext {
  padding-left: 45px;
  width: 80%;
  }
  #getquote {
    margin-top: 2%;
  }
  .headerfaq {
    background-image: url(about-us-1536x609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
  }

  .headercontact {
    background-image: url(about-us-1536x609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
  }
  .headerh {
    position: absolute;
    left: 10%;
    top: 100px;
    margin-top: 15px;
    padding: 20px;
    color: white;
    /* text-align: center; */
  }
  .headerp {
    position: absolute;
    left: 10%;
    top: 150px;
    margin-top: 15px;
    padding: 20px;
    color: white;
  }
  
  .headerhfaq {
    position: absolute;
    left: 5%;
    top: 100px;
    margin-top: 15px;
    padding: 20px;
    color: white;
    /* text-align: center; */
  }
  .headerpfaq {
    position: absolute;
    left: 5%;
    top: 170px;
    margin-top: 15px;
    padding: 20px;
    color: white;
  }

  .contact-us {
    padding: 30px;
  }
  /* #narvs {
    border: 2px;
  } */
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 1.5rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  .chooseusnow {
    margin-top: -46px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 190px; 
  height: 45px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container3 {
  /* border-radius: 5px; */
  /* background-color: #f2f2f2; */
  padding: 20px;
  background-image: url(Homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cta{
  font-weight: 900;
  font-size: 35px;
  color: white;
}

.ctap{
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.ctal {
  color: white;
}
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */

  .chooseus {
    margin-bottom: 2.5rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  /* .nav1 {
    background-color: white;
  } */

  #logo {
    margin-left: 45px;
    margin-right: 40px;
  }

  .getquote {
    margin-right: 40px;
  }

      #expertise {
        text-align: center;
        font-style: italic;
        color: white;
      }
      #expertisep {
        text-align: center;
        font-weight: 900;
        font-size: 35px;
        color: white;
      }

      .skills {
        font-weight: 400;
        color: white;
      }

      /* #hanging-icons {
        margin-bottom: -10px;
      } */

      .expertise {
        background-image: url(about-us-1536x609.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
      }

      #vission {
        background-image: url(vission.png);
        background-repeat: no-repeat;
        background-size: cover;
      }


      .faq{
        min-height: 100vh;
        width: 100vw;
        text-align: center;
        padding:0 2rem;
      }
      
      .faq .row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 2rem;
      }
      
      .faq .row .image img{
        height:70vh;
        width:50vw;
      }
      
      .faq .row .accordion-container{
        width: 50%;
        text-align: left;
      }
      
      .faq .row .accordion-container .accordion .accordion-header{
        background-color: var(--color);
        margin:1rem 0;
        box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
        cursor: pointer;
      }
      
      .faq .row .accordion-container .accordion .accordion-header span{
        display: inline-block;
        text-align: center;
        height:4rem;
        width:5rem;
        line-height: 4rem;
        font-size: 2rem;
        background:#fff;
        color:#333;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      }
      
      .faq .row .accordion-container .accordion .accordion-header h3{
        display: inline;
        color: #fff;
        font-weight: 400;
        padding-left: .5rem;
        font-size: 1.5rem;
      }
      
      .faq .row .accordion-container .accordion .accordion-body{
        padding:1rem;
        color:#444;
        box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
        font-size: 1.3rem;
        display: none;
      }
      
      .faq .row .accordion-container .accordion:nth-child(1) .accordion-body{
        display: block;
      }

  #calresultbox {
    background-color: #198754;
    /* border-radius: 15%; */
    width: 80%;
  }

  #calresultbox h1 {
    color: white;
  }

  #calresultbox h2 {
    color: white;
  }

      /* Style the form */
#regForm {
  background-color: #ffffff;
  /* margin: 100px auto; */
  padding: 20px;
  /* width: 100%; */
  padding-left: 45px;
  width: 90%;
  min-width: 300px;
}

#calwrite {
  padding-right: 50px;
}

#cont3 {
  background-color: black;
  color: white;
  text-align: center;
  height: 300px;
}

/* #cont4 {
  color: white;
  position: absolute;
  top: 50px;
} */

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
